
.content-list {
  margin-bottom: 15px;
}
.block-header {
  margin-bottom: 20px;
}
.header-buttons {
  margin-top: 10px;
}
.header-buttons a {
  margin-right: 20px;
}
.header-auth a{
  margin-right: 20px;
}
.header-auth {
  margin-left: auto;
}
.header-auth p{
  font-size: 35px;
}
.products-block {
  font-size: 20px;
}

